<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="./script/libs/vue.js"></script>
    <script src="./script/request.js"></script>
    <title>UET Thesis</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <div id="root">
            <i class="fa fa-spinner fa-spin" v-if="loading_page"></i>
            <div v-if="!is_login && !loading_page">
                <login_form inline-template class="login_form" @submit="submitted" @arlert="getArlert">
                    <table style="width:25%; padding: 1rem; margin: 4rem auto 0 auto">
                        <tr>
                            <th scope="col"><h3 style="padding: 0; font-size: 30px; color: #17a2b8 !important;">ĐĂNG NHẬP</h3></th>
                        </tr>
                        <tr>
                            <td><input v-model="username" placeholder="Tên đăng nhập" class="input-text"></td>
                        </tr>
                        <tr>
                            <td><input v-model="password" placeholder="Mật khẩu" class="input-text" type="password"></td>
                        </tr>
                        <tr>
                            <td>
                                <select v-model="role" class="input-text">
                                    <option value="STU">Sinh viên</option>
                                    <option value="LEC">Giảng viên</option>
                                    <option value="MAN">Quản lý</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <button class="btn" style="width:100%; font-weight: 700; padding: .7rem; margin: .4rem 0rem;"
                                v-on:click="login()"
                            >
                                <i v-if="loading" class="fa fa-spinner fa-spin"></i> {{loading? 'Đang chờ..' : 'Đăng nhập'}}
                            </button>
                            </td>
                        </tr>
                    </table>
                </login_form>
            </div>
            <div v-if="is_login && !loading_page">
                    <!--list theses-->
                    <list_thesis inline-template class="col-12" @arlert="getArlert" @logout="signOut">
                        <div>
                            <table class="table" style="width:100%; border-radius:0.5rem; border:none !important">
                                <thead style="border:none !important">
                                    <tr style="border:none !important">
                                        <td colspan="5" class="card-header text-center" style="font-size: 1.5rem; border:none !important">
                                            <div class="title">Quản lý khóa luận</div>
                                            <i class="fas fa-sign-out-alt sign-out"
                                                title="Đăng xuất"
                                                v-on:click="signOut()"
                                                id="logout"
                                            > Đăng xuất</i>
                                        </td>
                                    </tr>
                                    <tr style="margin:none">
                                        <td colspan="5" class="card-header text-center">
                                            <span class="menu">Xin chào 
                                                <span class="menu-item">{{user_info ? user_info.fullName : 'undefined'}}</span> | 
                                                <span class="menu-item" v-on:click="renderOwnThesis()" v-bind:style="renderOwn?'text-decoration: underline':''">Khóa luận của tôi</span> |
                                                <span class="menu-item" v-on:click="getListThesis()" v-bind:style="!renderOwn?'text-decoration: underline':''">Tất cả</span>
                                            </span>
                                        </td>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Tên luận án</th>
                                        <th scope="col">Giảng viên</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col" class="text-center">Hoạt động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="loading">
                                        <td colspan="5" class="text-center">
                                            <i class="fa fa-spinner fa-spin"></i> Loading...
                                        </td>
                                    </tr>
                                    <tr v-if="theses.length > 0 && !loading" v-for="(thesis, i) in theses" v-bind:class="(studentThesisInfo && thesis.id === studentThesisInfo.id)?'own_student_thesis':''">
                                        <th scope="row" class="text-center" style="width:5%">{{i + 1}}</th>
                                        <td scope="col" style="width:40%"><a v-on:click="chooseThesis(thesis)">{{thesis.thesisSubject}} ({{thesis.thesisCode}})</a></td>
                                        <td style="width:20%"><a>Đào Việt Anh</a></td>
                                        <td style="width: 10%">
                                            <div class="speech-bubble-2"
                                                v-bind:style="colorStatus(thesis.state)"
                                            >{{titleStatus(thesis.state)}}</div>
                                        </td>
                                        <td class="text-center" style="width:50%">
                                            <button type="button" v-bind:class="thesis.state === 'WAITTING'?'btn_warn':'btn'"
                                                v-if="userRole === 'STU' && thesis.state !== 'CANCELED'"
                                                v-on:click="studentThesis(thesis.id, thesis.state)"
                                                :disabled="!(((!studentThesisInfo[0] && thesis.state === 'NEW' ) || (studentThesisInfo[0] && thesis.id === studentThesisInfo[0].id)))"
                                            > <i class="fa fa-spinner fa-spin"></i>
                                            {{(thesis.state==='NEW')? 'Đăng ký' : (thesis.state==='WAITTING')? 'Hủy đăng ký' : (thesis.state==='ACTIVE')? 'Sửa': ''}}</button>

                                            <button type="button" class="btn"
                                                v-if="userRole === 'LEC' && thesis.state !== 'CANCELED'"
                                                v-on:click="lecturerThesisBtn1(thesis.id, thesis.state)"
                                                :disabled="lecturerThesisInfo[0] && thesis.lecturerId !== lecturerThesisInfo[0].lecturerId"
                                            > <i class="fa fa-spinner fa-spin"></i>
                                            {{(thesis.state==='NEW')? 'Sửa' : (thesis.state==='WAITTING')? 'Chấp nhận' : (thesis.state==='ACTIVE')? 'Chấm điểm': ''}}</button>
                                            
                                            <button type="button" class="btn_warn"
                                                v-if="userRole === 'LEC' && thesis.state !== 'CANCELED'"
                                                v-on:click="lecturerThesisBtn2(thesis.id, thesis.state)"
                                                :disabled="lecturerThesisInfo[0] && thesis.lecturerId !== lecturerThesisInfo[0].lecturerId"
                                            > <i class="fa fa-spinner fa-spin"></i>
                                            {{(thesis.state==='NEW')? 'Xóa' : (thesis.state==='WAITTING')? 'Từ chối' : (thesis.state==='ACTIVE')? 'Hoãn': ''}}</button>
                                        </td>
                                    </tr>
                                    <tr v-if="renderOwn && userRole === 'LEC'">
                                        <td colspan="5" class="text-center" style="font-size:1rem">
                                               <a v-on:click="chooseThesis()"><i class="fas fa-folder-plus"></i> Thêm khóa luận mới</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <div class="text-center"><em>Developed by <a style="width:auto"
                                            href="https://www.facebook.com/daovietanh99" target="_blank">Đào Việt Anh</a> at
                                            <a style="width:auto" href="https://uet.edu.vn/" target="_blank">UET</a>.</em>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- modal -->
                            <div class="w3-modal" style="display:block; padding-top: 2rem" v-if="isOpenThesisModal">
                                <div style="border-radius: 1rem; width: 50%" v-bind:class="isOpenThesisModal?'w3-modal-content text-center w3-modal-content-appear':'w3-modal-content text-center'">
                                    <div class="w3-container"> 
                                        <span v-on:click="closeThesisModal()"
                                        class="w3-button w3-display-topright">&times;</span>
                                        <h3 style="padding:0">THÔNG TIN LUẬN ÁN</h3>
                                    </div>
                                    <h3 class="w3-container w3-teal" style="margin:0; padding:.5rem">
                                        {{thesis.thesisSubject}} ({{thesis.thesisCode}})
                                    </h3>
                                    <div class="w3-container" style="padding:0">
                                        <table class="table" style="width:100%">
                                            <tbody>
                                                <tr>
                                                    <td class="text-center"><b>Sinh viên:</b> Đào Việt Anh</td>
                                                    <td class="text-center"><b>Giảng viên:</b> Lê Việt Anh</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><b>Khoa:</b> {{thesis.branch}}</td>
                                                    <td class="text-center"><b>Trường:</b> {{thesis.university}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 50%" class="text-center">
                                                            <div class="speech-bubble-2"
                                                                v-bind:style="colorStatus(thesis.state)"
                                                                style="width:50%; margin: auto; font-size: 2rem"
                                                            >{{titleStatus(thesis.state)}}</div>
                                                    </td>
                                                    <td class="text-center" style="width:50%">
                                                            <button type="button" v-bind:class="thesis.state === 'WAITTING'?'btn_warn':'btn'"
                                                                v-if="userRole === 'STU' && thesis.state !== 'CANCELED'"
                                                                v-on:click="studentThesis(thesis.id, thesis.state)"
                                                                :disabled="!(((!studentThesisInfo[0] && thesis.state === 'NEW' ) || (studentThesisInfo[0] && thesis.id === studentThesisInfo[0].id)))"
                                                                style="width: 50%"
                                                            > <i class="fa fa-spinner fa-spin"></i>
                                                            {{(thesis.state==='NEW')? 'Đăng ký' : (thesis.state==='WAITTING')? 'Hủy đăng ký' : (thesis.state==='ACTIVE')? 'Sửa': ''}}</button>
                
                                                            <button type="button" class="btn"
                                                                v-if="userRole === 'LEC' && thesis.state !== 'CANCELED'"
                                                                v-on:click="lecturerThesisBtn1(thesis.id, thesis.state)"
                                                                :disabled="lecturerThesisInfo[0] && thesis.lecturerId !== lecturerThesisInfo[0].lecturerId"
                                                                style="width: 50%"
                                                            > <i class="fa fa-spinner fa-spin"></i>
                                                            {{(thesis.state==='NEW')? 'Sửa' : (thesis.state==='WAITTING')? 'Chấp nhận' : (thesis.state==='ACTIVE')? 'Chấm điểm': ''}}</button>
                                                            
                                                            <button type="button" class="btn_warn"
                                                                v-if="userRole === 'LEC' && thesis.state !== 'CANCELED'"
                                                                v-on:click="lecturerThesisBtn2(thesis.id, thesis.state)"
                                                                :disabled="lecturerThesisInfo[0] && thesis.lecturerId !== lecturerThesisInfo[0].lecturerId"
                                                                style="width: 50%"
                                                            > <i class="fa fa-spinner fa-spin"></i>
                                                            {{(thesis.state==='NEW')? 'Xóa' : (thesis.state==='WAITTING')? 'Từ chối' : (thesis.state==='ACTIVE')? 'Hoãn': ''}}</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <h3 class="w3-container w3-teal" style="margin:0; padding:.5rem">
                                            Mô tả chi tiết
                                    </h3>
                                        <table class="table" style="width:100%">
                                            <tbody>
                                                <tr><td>{{thesis.describle}}</td></tr>
                                            </tbody>
                                        </table>
                                    <footer class="w3-container">
                                    <p>Modal Footer</p>
                                    </footer>
                                
                                </div>
                            </div>
                        </div>
                    </list_thesis>        

                    <list_announcement inline-template class="col-11">
                        <div>
                        <table class="table_anoun">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Thông báo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="speech-bubble"> <div>việt anh test</div></td>
                                </tr>
                                <tr>
                                    <td class="speech-bubble"> <div>việt anh đã đăng ký khóa luận mã số 123</div></td>
                                </tr>
                            </tbody>
                        </table>   
                        </div>
                    </list_announcement>   
            </div>
            <div>
                <div  v-bind:class="arlert_type">
                    <strong><i v-bind:class="icon"></i>{{arlert_title}}</strong>{{arlert_message}}
                </div>
            </div>
        </div>   
    </div>
    
    <!-- <object data="./images/github.html" class="github-corner"></object> -->
    
    <script src="./script/LoginForm.js"></script>
    <script src="./script/ListThesis.js"></script>
    <script src="./script/ListAnnouncement.js"></script>
    <script src="./script/App.js"></script>
</body>

</html>