<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="./script/libs/vue.js"></script>
    <script src="./script/request.js"></script>
    <title>UET Thesis</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <div id="root">
            <div v-if="!is_login">
                <login_form inline-template class="login_form" @submit="submitted" @arlert="getArlert">
                    <table style="width:25%; padding: 1rem; margin: 4rem auto 0 auto">
                        <tr>
                            <th scope="col"><h3 style="padding: 0; font-size: 30px; color: #17a2b8 !important;">ĐĂNG NHẬP</h3></th>
                        </tr>
                        <tr>
                            <td><input v-model="username" placeholder="Tên đăng nhập" class="input-text"></td>
                        </tr>
                        <tr>
                            <td><input v-model="password" placeholder="Mật khẩu" class="input-text" type="password"></td>
                        </tr>
                        <tr>
                            <td>
                                <select v-model="role" class="input-text">
                                    <option value="STU">Sinh viên</option>
                                    <option value="LEC">Giảng viên</option>
                                    <option value="MAN">Quản lý</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <button class="btn" style="width:100%; font-weight: 700; padding: .7rem; margin: .4rem 0rem;"
                                v-on:click="login()"
                            >
                                <i v-if="loading" class="fa fa-spinner fa-spin"></i> {{loading? 'Đang chờ..' : 'Đăng nhập'}}
                            </button>
                            </td>
                        </tr>
                    </table>
                </login_form>
            </div>
            <div v-if="is_login">
                    <!--list theses-->
                    <list_thesis inline-template class="col-12" @arlert="getArlert" @logout="signOut">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td colspan="5" class="card-header text-center" style="font-size: 1.5rem;">
                                            <div class="title">Quản lý khóa luận</div>
                                            <i class="fas fa-sign-out-alt sign-out"
                                                title="Đăng xuất"
                                                v-on:click="signOut()"
                                            ></i>
                                        </td>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Tên luận án</th>
                                        <th scope="col">Giảng viên</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col" class="text-center">Hoạt động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="loading">
                                        <td colspan="5" class="text-center">
                                            <i class="fa fa-spinner fa-spin"></i> Loading...
                                        </td>
                                    </tr>
                                    <tr v-if="theses.length > 0 && !loading" v-for="(thesis, i) in theses" v-bind:class="(studentThesisInfo && thesis.id === studentThesisInfo.id)?'own_student_thesis':''">
                                        <th scope="row" class="text-center" style="width:5%">{{i + 1}}</th>
                                        <td scope="col" style="width:40%"><a>{{thesis.thesisSubject}}</a></td>
                                        <td style="width:20%"><a>Đào Việt Anh</a></td>
                                        <td style="width: 10%">
                                            <div class="speech-bubble-2"
                                                v-bind:style="colorStatus(thesis.state)"
                                            >{{titleStatus(thesis.state)}}</div>
                                        </td>
                                        <td class="text-center" style="width:50%">
                                            <button type="button" v-bind:class="thesis.state === 'WAITTING'?'btn_warn':'btn'"
                                                v-if="userRole === 'STU' && thesis.state !== 'CANCELED'"
                                                v-on:click="studentThesis(thesis.id, thesis.state)"
                                                :disabled="!(((!studentThesisInfo && thesis.state === 'NEW' ) || (studentThesisInfo && thesis.id === studentThesisInfo.id)))"
                                            > <i class="fa fa-spinner fa-spin"></i>
                                            {{(thesis.state==='NEW')? 'Đăng ký' : (thesis.state==='WAITTING')? 'Hủy đăng ký' : (thesis.state==='ACTIVE')? 'Sửa': ''}}</button>

                                            <button type="button" class="btn"
                                                v-if="userRole === 'LEC' && thesis.state !== 'CANCELED'"
                                                v-on:click="lecturerThesisBtn1(thesis.id, thesis.state)"
                                                :disabled="lecturerThesisInfo[0] && thesis.lecturerId !== lecturerThesisInfo[0].lecturerId"
                                            > <i class="fa fa-spinner fa-spin"></i>
                                            {{(thesis.state==='NEW')? 'Sửa' : (thesis.state==='WAITTING')? 'Chấp nhận' : (thesis.state==='ACTIVE')? 'Chấm điểm': ''}}</button>
                                            
                                            <button type="button" class="btn_warn"
                                                v-if="userRole === 'LEC' && thesis.state !== 'CANCELED'"
                                                v-on:click="lecturerThesisBtn2(thesis.id, thesis.state)"
                                                :disabled="lecturerThesisInfo[0] && thesis.lecturerId !== lecturerThesisInfo[0].lecturerId"
                                            > <i class="fa fa-spinner fa-spin"></i>
                                            {{(thesis.state==='NEW')? 'Xóa' : (thesis.state==='WAITTING')? 'Từ chối' : (thesis.state==='ACTIVE')? 'Hoãn': ''}}</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <div class="text-center"><em>Developed by <a style="width:auto"
                                            href="https://www.facebook.com/daovietanh99" target="_blank">Đào Việt Anh</a> at
                                            <a style="width:auto" href="https://uet.edu.vn/" target="_blank">UET</a>.</em>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    </list_thesis>        

                    <list_announcement inline-template class="col-11">
                        <div>
                        <table class="table_anoun">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Thông báo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="speech-bubble"> <div>việt anh test</div></td>
                                </tr>
                                <tr>
                                    <td class="speech-bubble"> <div>việt anh đã đăng ký khóa luận mã số 123</div></td>
                                </tr>
                            </tbody>
                        </table>   
                        </div>
                    </list_announcement>   
            </div>
            <div>
                <div  v-bind:class="arlert_type">
                    <strong><i v-bind:class="icon"></i>{{arlert_title}}</strong>{{arlert_message}}
                </div>
            </div>
        </div>   
    </div>
    
    <!-- <object data="./images/github.html" class="github-corner"></object> -->
    
    <script src="./script/LoginForm.js"></script>
    <script src="./script/ListThesis.js"></script>
    <script src="./script/ListAnnouncement.js"></script>
    <script src="./script/App.js"></script>
</body>

</html>