<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <script src="./script/libs/vue.js"></script>
    <script src="./script/request.js"></script>
    <title>UET Thesis</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <div id="root">
            <div v-if="!is_login">
                <login_form inline-template class="login_form" @submit="submitted">
                    <table style="width:25%; padding: 1rem; margin: 4rem auto 0 auto">
                        <tr>
                            <th scope="col"><h3 style="padding: 0; font-size: 30px; color: #17a2b8 !important;">ĐĂNG NHẬP</h3></th>
                        </tr>
                        <tr>
                            <td><input v-model="username" placeholder="Tên đăng nhập" class="input-text"></td>
                        </tr>
                        <tr>
                            <td><input v-model="password" placeholder="Mật khẩu" class="input-text" type="password"></td>
                        </tr>
                        <tr>
                            <td>
                                <select v-model="role" class="input-text">
                                    <option value="STU">Sinh viên</option>
                                    <option value="LEC">Giảng viên</option>
                                    <option value="MAN">Quản lý</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <button class="btn" style="width:100%; font-weight: 700; padding: .7rem; margin: .4rem 0rem;"
                                v-on:click="login()"
                            >
                                {{loading? 'Đang chờ..' : 'Đăng nhập'}}
                            </button>
                            </td>
                        </tr>
                    </table>
                </login_form>
            </div>
            <div v-if="is_login">
                    <div class="card-header text-center">
                            <h3 style="display:block; margin:0; background-color: rgba(0, 0, 0, .03); height: 2rem; text-align: left; padding-left: 3%">Quản lý luận án</h3>
                            <div>
                                <div>Việt Anh</div>

                            </div>
                    </div>
                    <div class="card-header-1 text-center">
                        <div>Lọc</div>
                    </div>
                    <!--list theses-->
                    <list_thesis inline-template class="col-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Tên luận án</th>
                                        <th scope="col">Giảng viên</th>
                                        <th scope="col" class="text-center">Hoạt động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="loading">
                                        <td colspan="4" class="text-center">
                                            Loading...
                                        </td>
                                    </tr>
                                    <tr v-if="theses.length > 0 && !loading" v-for="(thesis, i) in theses">
                                        <th scope="row" class="text-center" style="width:10%">{{i + 1}}</th>
                                        <td style="width:50%"><a>{{thesis.thesisSubject}}</a></td>
                                        <td style="width:20%"><a>Đào Việt Anh</a></td>
                                        <td class="text-center" style="width:20%">
                                            <button type="button" class="btn"
                                                v-on:click="joinThesis(thesis.id)"
                                            >{{(thesis.state==='NEW')? 'Đăng ký' : 'Hủy đăng ký'}}</button>
                                            <button type="button" class="btn"
                                                v-if="userRole === 'LEC' && thesis.state !== 'NEW'"
                                                v-on:click="joinThesis(thesis.id)"
                                            >{{(thesis.state==='NEW')? 'Xóa' : 'Hủy đăng ký'}}</button>
                                        </td>
                                    </tr>
                                    <tr><td colspan="4" style="background-color:#fff"></td></tr>
                                    <tr>
                                        <td colspan="4">
                                            <div class="text-center"><em>Developed by <a style="width:auto"
                                            href="https://www.facebook.com/daovietanh99" target="_blank">Đào Việt Anh</a> at
                                            <a style="width:auto" href="https://uet.edu.vn/" target="_blank">UET</a>.</em>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    </list_thesis>        

                    <list_announcement inline-template class="col-11">
                        <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Thông báo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> <div>việt anh đã đăng ký khóa luận</div></td>
                                </tr>
                                <tr>
                                    <td> <div>việt anh đã đăng ký khóa luận</div></td>
                                </tr>
                            </tbody>
                        </table>   
                        </div>
                    </list_announcement>   
            </div>
        </div>   
    </div>
    
    <object data="./images/github.html" class="github-corner"></object>
    
    <script src="./script/LoginForm.js"></script>
    <script src="./script/ListThesis.js"></script>
    <script src="./script/ListAnnouncement.js"></script>
    <script src="./script/App.js"></script>
</body>

</html>