body {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(../images/trianglify.svg);
    background-size: cover
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff
}

body {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.github-corner {
    position: fixed;
    top: 0;
    right: 0;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

.input-text {
    display: block;
    margin: .4rem;
    padding: 0.7rem;
    color: inherit;
    width: 100%;
    font-family: inherit;
    font-size: .875rem;
    font-weight: inherit;
    line-height: 1.5;
    border: none;
    border-radius: 0.4rem;
    box-sizing : border-box;
    background-color: rgba(0,0,0,.05);
}

.login_form {
    background-color: transparent;
    border: 3px solid #70B7FD;
    border-radius: .4rem;
    padding-right: .7rem;
    background-color: #fff;
}

.col-12 {
    width: 60%;
    margin-bottom: 1rem;
    margin-left: 7rem;
    margin-top: 5rem;
}

.col-11 {
    width: 17%;
    height: calc(100vh - 2rem);
    position: fixed;
    top: calc(2rem + 1px);
    right: 0;
    background-color: rgba(0,0,0,.01);
    background-color: #fff;
    border-left: 1px solid #dee2e6;
    display: block;
}

.card-header {
    width: 100%;
    font-size: 1.1rem;
    background-color: #fff;
    color: #17a2b8 !important;
    position: fixed;
    border-bottom: 2px solid #dee2e6;
    top: 0
}

.card-header-1 {
    width: 100%;
    font-size: 1rem;
    padding: .75rem;
    background-color: #fff;
    color: #212529 !important;
    position: fixed;
    border-bottom: 2px solid #dee2e6;
    top: calc(2rem + 2px);
    font-weight: 700;
}

.card-header-1 div{
    float: left;
    padding-left: 2%
}

a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
    cursor: pointer;
}

.btn {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-radius: .25rem;
    text-align: center;
    vertical-align: middle;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b
}

.text-center {
    text-align: center !important
}

.table {
    background-color: #fff;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-spacing:0;
    border-collapse: collapse;
    border-radius: .25rem;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: central;
    border-top: 1px solid #dee2e6;
    background-color: #fff;
    margin: 0;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    background-color: rgba(0,0,0,.01);
    word-wrap: break-word;   
    word-break: break-word;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6; 
    background-color: #fff
}

.table tbody{
    border-top: 2px solid #dee2e6;
    background-color: rgba(0,0,0,.03)
}
