body {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(../images/trianglify.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff
}

body {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.github-corner {
    position: fixed;
    top: 0;
    right: 0;
}

.input-text {
    display: block;
    margin: .4rem;
    padding: 0.7rem;
    color: inherit;
    width: 100%;
    font-family: inherit;
    font-size: .875rem;
    font-weight: inherit;
    line-height: 1.5;
    border: none;
    border-radius: 0.4rem;
    box-sizing : border-box;
    background-color: rgba(0,0,0,.05);
    margin: 0.4rem 0
}

.login_form {
    background-color: transparent;
    border: 1px solid #70B7FD;
    border-radius: .4rem;
    background-color: #fff;
}

.col-12 {
    width: 80%;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 0.3rem;
}

.col-11 {
    width: 17%;
    height: calc(100vh - 2rem);
    position: fixed;
    top: calc(2rem + 1px);
    right: 0;
    background-color: rgba(0,0,0,.01);
    border-left: 1px solid #dee2e6;
    display: block;
}

.card-header {
    background-color: #fff;
    color: #17a2b8 !important;
    border-bottom: 2px solid #dee2e6;
    font-weight: 600
}

.card-header-1 {
    width: 100%;
    font-size: 1rem;
    padding: .75rem;
    background-color: #fff;
    color: #212529 !important;
    position: fixed;
    border-bottom: 2px solid #dee2e6;
    top: calc(2rem + 2px);
    font-weight: 700;
}

.card-header-1 div{
    float: left;
    padding-left: 2%
}

a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
    cursor: pointer;
}

.btn {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-radius: .25rem;
    text-align: center;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border: 1px solid transparent;
    cursor: pointer;
    margin-bottom: 5px;
}

.btn:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b
}

.btn_warn {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    background-color: #e9947f;
    border-color: #e9947f;
    border-radius: .25rem;
    text-align: center;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn_warn:hover {
    color: #fff;
    background-color: #dc6f59;
    border-color: #dc6f59
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button:disabled,
button[disabled]:hover{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button i{
    display: none !important
}

/* button:focus i{
    display: inline-block !important;
}  */

.text-center {
    text-align: center !important
}

.table {
    background-color: #fff;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-spacing:0;
    border-collapse: collapse;
    border-radius: .25rem;
}

.table td,
.table th, 
.table i{
    padding: .75rem;
    vertical-align: central;
    border-top: 1px solid #dee2e6;
    background-color: #fff;
    margin: 0;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    background-color: rgba(0,0,0,.01);
    word-wrap: break-word;   
    word-break: break-word;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6; 
    background-color: #fff;
    border-radius: 0.1em
}

.table tbody{
    border-top: 2px solid #dee2e6;
    background-color: rgba(0,0,0,.03)
}

.table_anoun {
    background-color: transparent;
    border-radius: .25rem;
}

.table_anoun th {
    background-color: transparent 
}

.speech-bubble {
    position: relative;
    background-color: #64c1d0;
    border-radius: 2px;
    display: block;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 600;
    padding: 1px;
    color: rgb(49, 12, 134)
}

.speech-bubble-2 {
    text-align: center;
    border-radius: 0.5rem;
    display: block;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 700;
    padding: 1px;
    color: rgb(49, 12, 134);
    width: 100%;
    font-size: 0.8rem
}

.anchor {
    position:fixed;
    top: 0;
    width: 73%;
}

.own_student_thesis {
    position: fixed;
    bottom: 0;
    left: 3rem;
    vertical-align: central;
    margin: 0;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    word-wrap: break-word;   
    word-break: break-word;
    width: 70%
}

.own_student_thesis button {
    width: 70%
}

.arlert {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    padding-left: 2rem;
    line-height: 3rem;
    font-size: 1.2rem;
    transform: translateY(130%);
    transition-timing-function: ease-in;
    transition: 0.25s;
}

.appear {
    transition: 0.1s;
    transition-timing-function: ease-out;
    transform: translateY(0);
    opacity: 1;
}

.arlert i {
    font-size: 2rem;
    margin-right: 2rem;
    margin-left: 5rem;
    margin-top: 0.5rem
}

.arlert-success {
    color: #3c763d;
    background-color: rgba(223, 240, 216, 0.6);
    border: 1px solid #d6e9c6;
}

.arlert-info {
    color: #31708f;
    background-color: rgba(217, 237, 247, 0.6);
    border: 1px solid #ebccd1;
}

.arlert-warning {
    color: #8a6d3b;
    background-color: rgba(252, 248, 227, 0.6);
    border: 1px solid #ebccd1;
}

.arlert-error {
    color: #a94442;
    background-color: rgba(242, 222, 222, 0.6);
    border: 1px solid #ebccd1;
}

.sign-out {
    float: right;
    cursor: pointer;
    margin: auto
}
.title {
    float: left;
}